body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.avatar {
    width: 150px;
    border: 1px solid #274c77;
    border-radius: 60px;
}

.card {
    border-radius: 60px;
    width: 200px;
    margin: 0 auto;
    padding: 30px;
    justify-content: space-around;
    text-align: center;
    background: #e7ecef;
    color: #2b2839;
    border-right: 6px solid #274c77;
    }
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */


/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

